th,tr,td{
    border: 1px solid;
}
td > button{
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid green;
}
td > button:hover{
    background-color: green;
    color: white;
}